@import "tailwindcss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.notes-grid {
  padding: 1rem;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(clamp(14rem, 20%, 12rem), 1fr));
  grid-auto-rows: 14rem;
  gap: clamp(1rem, 20%, 2rem);
  align-items: center;
  justify-content: flex-start;
  justify-items: center;
  margin-top: 1rem;
  overflow-y: auto;
}

.smooth-transition {
  transition: all 0.05s ease-out;
}

.noteModal-textarea {
  width: 100%;
  min-height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  resize: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 1rem;
}

.react-datepicker__day--outside-month {
  visibility: hidden;
}

/* FOR DATEPICKER */


/* Scrollbar global minimalista */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.3);
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(120, 120, 120, 0.5);
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(120, 120, 120, 0.3) transparent;
}